@using BagheerasDream.Data.Models.Enums
@using BagheerasDream.Web.ViewModels.Litter

@model KittenInputModel

@foreach (var modelState in ViewData.ModelState.Values)
{
    foreach (var error in modelState.Errors)
    {
        <p class="text-danger">@error.ErrorMessage</p>
    }
}


<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center; color: lightgray">Добави ново коте към котилото</h1>
        <form class="mx-auto half-width col-5" enctype="multipart/form-data" method="post" asp-area="Administration" asp-controller="Administration" asp-action="AddKittenToLitter">
            <div class="top-border-line primary-separator"></div>

            @if (ViewBag.litterId != null)
            {
                <input asp-for="LitterId" class="hide" hidden="hidden" value="@ViewBag.litterId">
            }
            else
            {
                <input asp-for="LitterId" class="hide" hidden="hidden" value="@Model.LitterId">
            }

            <div class="form-group">
                <label asp-for="Name" class="suls-text-color">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="suls-text-color">Gender</label>
                <select asp-for="Gender" class="form-control">
                    <option value="@Gender.Male">
                        Male
                    </option>
                    <option value="@Gender.Female">
                        Female
                    </option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfileImage" class="suls-text-color">Снимка на котето</label>
                <input asp-for="ProfileImage" class="form-control">
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PedigreeImage" class="suls-text-color">Снимка на родословието</label>
                <input asp-for="PedigreeImage" class="form-control">
                <span asp-validation-for="PedigreeImage" class="text-danger"></span>
            </div>

            <div class="top-border-line primary-separator"></div>

            <button type="submit" class="btn forum-add-bg-color">Добави котето!</button>
        </form>
    </div>
</div>